@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  flex: 0;
}

.flex-between {
  justify-content: space-between;
}

.flexlarge {
  flex: 2;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

/* Styles limited to orbital sheets */
.orbital .item-form {
  font-family: "Roboto", sans-serif;
}
.orbital .sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.orbital .sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}
.orbital .sheet-header .header-fields {
  flex: 1;
}
.orbital .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.orbital .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.orbital .sheet-tabs {
  flex: 0;
}
.orbital .sheet-body,
.orbital .sheet-body .tab,
.orbital .sheet-body .tab .editor {
  height: 100%;
}
.orbital .tox .tox-editor-container {
  background: #fff;
}
.orbital .tox .tox-edit-area {
  padding: 0 8px;
}
.orbital .resource-label {
  font-weight: bold;
}
.orbital .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.orbital .items-header > * {
  font-size: 14px;
  text-align: center;
}
.orbital .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}
.orbital .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}
.orbital .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.orbital .items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
}
.orbital .items-list .item-name h3, .orbital .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.orbital .items-list .item-controls {
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
}
.orbital .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.orbital .items-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}
.orbital .items-list .item:last-child {
  border-bottom: none;
}
.orbital .items-list .item .item-name {
  color: #191813;
}
.orbital .items-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.orbital .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.orbital .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.orbital .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
.orbital .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}
.orbital .item-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}
.orbital .effects .item .effect-source,
.orbital .effects .item .effect-duration,
.orbital .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.orbital .effects .item .effect-controls {
  border: none;
}

.skill_row {
  max-width: 20%;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}



.grid-attributes {
    display: inline-grid;
    grid-template-rows: repeat(5, min-content);
    grid-auto-flow: column;
    gap: 10px 40px;
    margin: 10px 0;
    padding: 0;
    justify-content: space-evenly;
}

.grid-attributes-item {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-auto-flow: column;
    gap: 15px;
    margin: 10px 0;
    padding: 0;
    align-items: center;
}

.skill-roll {
    white-space: nowrap;
}

.align-left { 
  text-align: left;
}

.no-wrap {
    white-space: nowrap;
}

input.no-fill {
  width: auto;
}

.tooltip-provider {
  position: relative;
}

.tooltip-provider .tooltip {
  visibility: hidden;
  min-width: 120px;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  margin-left: 10px;
  background: url(../../../ui/parchment.jpg) repeat;
  border: var(--color-cool-4) solid 1px;
  position: absolute;
  z-index: 1;

}

.tooltip-provider:hover .tooltip {
  visibility: visible;
  bottom: 10px;
}

.wurfel:hover {
  text-decoration-line: underline;
}