
<div class="resource flex-group-center">
  <div class="resource-content flexrow flex-center flex-between">
    <label class="skill_row" for="system.skills.{{key}}.value" class="resource-label">{{localize 'orbital.skill.s1'}}</label>
    <span class="skill_row">{{localize 'orbital.subskill.subskill'}}</span>
    <span class="skill_row">{{localize 'orbital.level'}}</span>
    <span class="skill_row">{{localize 'orbital.wurfelbereich'}}</span>
    <span class="skill_row">{{localize 'DOCUMENT.Roll' type='Skill'}}</span>
  </div>
{{#each system.skills as |resb key|}}
  <div class="resource-content flexrow flex-center flex-between">
    <select class="skill_row" name="system.skills.{{key}}.value" data-dtype="Text">
    {{selectOptions ../available_skills selected=resb.value localize=true}}
    </select>
    <select class="skill_row" name="system.skills.{{key}}.subskill" data-dtype="Text">
    {{selectOptions resb.available_subskills selected=resb.subskill localize=true}}
    </select>
    <input class="skill_row" type="number" min="1" max="10" name="system.skills.{{key}}.level" value="{{resb.level}}" data-dtype="Number"/>
    <span class="skill_row">{{resb.attribute}}</span>
    <a
        class='item-control skill-roll skill_row'
        title='{{localize "DOCUMENT.Roll" type='Skill'}}'
        data-type='skill'
        data-skill='{{key}}'
      >
        {{showDice resb.wurfel}}
      </a>
  </div>
{{/each}}
</div>