
    <select name="system.race" data-dtype="Text">
    {{selectOptions available_races selected=system.race localize=true}}
    </select>
    <a data-tooltip="{{system.race_info}}" style="font-size:20px;">&#x1f6c8;</a>
    <div class="resource flex-group-center">
        <label for="system.hairColor" class="resource-label">{{localize 'orbital.actor.haircolor'}}</label>
        <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.hairColor" value="{{system.hairColor}}" data-dtype="Text"/>
        </div>
    </div>
    <div class="resource flex-group-center">
        <label for="system.gender" class="resource-label">{{localize 'orbital.actor.gender'}}</label>
        <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.gender" value="{{system.gender}}" data-dtype="Text"/>
        </div>
    </div>
    <div class="resource flex-group-center">
        <label for="system.age.value" class="resource-label">{{localize 'orbital.actor.age'}}</label>
        <div class="resource-content flexrow flex-center flex-between">
            <input type="number" name="system.age.value" value="{{system.age.value}}" data-dtype="Number"/>
        </div>
        <span>{{system.age.min}} - {{system.age.max}}</span>
    </div>
    <div class="resource flex-group-center">
        <label for="system.height_cm.value" class="resource-label">{{localize 'orbital.actor.height_cm'}}</label>
        <div class="resource-content flexrow flex-center flex-between">
            <input type="number" name="system.height_cm.value" value="{{system.height_cm.value}}" data-dtype="Number"/>
        </div>
        <span>{{system.height_cm.min}} - {{system.height_cm.max}}</span>
    </div>
    <div class="resource flex-group-center">
        <label for="system.look" class="resource-label">{{localize orbital.actor.look}}</label>
        <div class="resource-content flexrow flex-center flex-between">
            <input type="Text" name="system.look" value="{{system.look}}" data-dtype="Text"/>
        </div>
    </div>

{{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
{{editor system.biography target="system.biography" rollData=rollData button=true owner=owner editable=editable}}