<ol class='items-list'>

    <li class='item flexrow items-header'>
      <div class='item-name grid grid-2col'>
        <span class = 'grid-span-1'>{{localize "orbital.equipment.names.weapons"}}</span>
      </div>
      <div class='item-controls'>
        <a
          class='item-control item-create'
          title='{{localize "DOCUMENT.Create" type='Equipment'}}'
          data-type='equipment'
          data-slot='mainhand'
        >
          <i class='fas fa-plus'></i>
          {{localize 'orbital.equipment.add' slot='mainhand'}}
        </a>
      </div>
    </li>
  {{#each equipment_hand as |item id|}}
      <li class='item flexrow' data-item-id='{{item._id}}'>
        <div class='item-name flexrow' data-tooltip='{{item.name}} ({{item.system.quantity}}x) <hr><div class="grid grid-2col"><span class="grid-span-1">{{item.attackStats}}</span><span class="grid-span-1">{{item.bonus_text}}</span></div><hr> {{item.system.description}}'>
          <div class='item-image'>
            <a class='rollable' data-roll-type='item'><img
                src='{{item.img}}'
                title='{{item.name}}'
                width='24'
                height='24'
              /></a>
          </div>
          <h4>{{item.name}} ({{item.system.quantity}}x)</h4>
          <span>{{item.system.attribute}} {{localize (concat "orbital.weapon.two_handed." item.system.two_handed)}}</span>
          <span>{{localize (concat "orbital.weapon.is_gun." item.system.is_gun)}}</span>
          <span>{{item.attackStats}}</span>
          <span>{{item.bonus_text}}</span>
          <select class="skill_row sel_equ_hand" name="system.equipped_at" data-itemid='{{item._id}}'>
            {{selectOptions item.validSlots selected=item.system.equipped_at localize=true}} 
          </select>
        </div>
        <div class='item-controls'>
          <a
            class='item-control item-edit'
            title='{{localize "DOCUMENT.Edit" type='spell'}}'
          >
            <i class='fas fa-edit'></i>
          </a>
          <a
            class='item-control item-delete'
            title='{{localize "DOCUMENT.Delete" type='spell'}}'
          >
            <i class='fas fa-trash'></i>
          </a>
        </div>
      </li>
  {{/each}}
  {{#each equipment as |equipment_list slot|}}
    <li class='item flexrow items-header'>
      <div class='item-name grid grid-2col'>
        <span class = 'grid-span-1'>{{localize (concat "orbital.equipment.names." slot) }}</span>
        <span class = 'grid-span-1'>{{getFrom (getFrom ../slot_limits slot) "value"}} / {{getFrom (getFrom ../slot_limits slot) "max"}}</span>
      </div>
      <div class='item-controls'>
        <a
          class='item-control item-create'
          title='{{localize "DOCUMENT.Create" type='Equipment'}}'
          data-type='equipment'
          data-slot='{{slot}}'
        >
          <i class='fas fa-plus'></i>
          {{localize 'orbital.equipment.add' slot=slot}}
        </a>
      </div>
    </li>
    {{#each equipment_list as |item id|}}
      <li class='item flexrow' data-item-id='{{item._id}}'>
        <div class='item-name flexrow' data-tooltip='{{item.name}} ({{item.system.quantity}}x) <hr><div class="grid grid-2col"><span class="grid-span-1">{{item.attackStats}}</span><span class="grid-span-1">{{item.bonus_text}}</span></div><hr> {{item.system.description}}'>
          <div class='item-image'>
            <a class='rollable' data-roll-type='item'><img
                src='{{item.img}}'
                title='{{item.name}}'
                width='24'
                height='24'
              /></a>
          </div>
          <h4>{{item.name}} ({{item.system.quantity}}x)</h4>
          <span>{{item.system.attribute}}</span>
          <span></span>
          <span>{{item.attackStats}}</span>
          <span>{{item.bonus_text}}</span>
          <a
            class='item-control item-equip' 
            data-itemid='{{item._id}}'
            data-itemslot='{{slot}}'
            title='{{localize "DOCUMENT.item-equip" type='item'}} {{item.system.isEquipped}}'
          >
            {{ifThen (equals item.system.equippedSlot slot) (localize "orbital.equipment.equipped.true") (localize "orbital.equipment.equipped.false") }}
          </a>
        </div>
        <div class='item-controls'>
          <a
            class='item-control item-edit'
            title='{{localize "DOCUMENT.Edit" type='spell'}}'
          >
            <i class='fas fa-edit'></i>
          </a>
          <a
            class='item-control item-delete'
            title='{{localize "DOCUMENT.Delete" type='spell'}}'
          >
            <i class='fas fa-trash'></i>
          </a>
        </div>
      </li>
    {{/each}}
  {{/each}}
</ol>