<div class="resource flex-group-center grid-attributes">


    {{#each system.attributes as |resb key|}}
        <div class="grid-attributes-item">
              <label class="resource-label grid-span-1 align-left" style="width:100px" for="system.attributes.{{key}}.value">{{localize (concat "orbital.attribute." key ".long") }}</label>
              <label class="resource-label grid-span-1 align-left" for="system.attributes.{{key}}.value">{{key}}</label>
              <div class="resource-content grid-span-1 tooltip-provider no-wrap">
                <input class="no-fill" type="number" min="{{resb.min}}" max="{{resb.max}}" name="system.attributes.{{key}}.base" value="{{resb.base}}" data-dtype="Number"/>
                <span> + {{resb.bonus}}</span>
                <span class="tooltip"> (min.: {{resb.min}} max.: {{resb.max}}) </span>
              </div>
              
              <a
                class='skill-roll tooltip-provider'
                title='{{localize "DOCUMENT.Roll" type='attribute'}}'
                data-type='attribute'
                data-attribute='{{key}}'
              >
                {{showDice resb.wurfel}}
              </a>
        </div>
    {{/each}}
</div>
