<div>{{localize "orbital.equipment.load"}} {{system.total_weight.value}} / {{system.total_weight.max}}</div>
<ol class='items-list'>
  <li class='item flexrow items-header'>
    <div class='item-name'>{{localize 'Name'}}</div>
    <div class='item-formula'>{{localize 'Roll Formula'}}</div>
    <div class='item-controls'>
      <a
        class='item-control item-create'
        title='{{localize "DOCUMENT.Create" type='Item'}}'
        data-type='item'
      >
        <i class='fas fa-plus'></i>
        {{localize 'DOCUMENT.New' type='item'}}
      </a>
    </div>
  </li>
  {{#each gear as |item id|}}
    <li class='item flexrow' data-item-id='{{item._id}}'>
      <div class='item-name'>
        <div class='item-image'>
          <a class='rollable' data-roll-type='item'>
            <img
              src='{{item.img}}'
              title='{{item.name}}'
              width='24'
              height='24'
            />
          </a>
        </div>
        <h4>{{item.name}}</h4>
      </div>
      <span>{{item.system.quantity}}x</span>
      <span>{{item.system.weight}}kg</span>
      <div class='item-formula item-prop'>{{item.system.formula}}</div>
      <div class='item-controls'>
        <a
          class='item-control item-edit'
          title='{{localize "DOCUMENT.Update" type='Item'}}'
        >
          <i class='fas fa-edit'></i>
        </a>
        <a
          class='item-control item-delete'
          title='{{localize "DOCUMENT.Delete" type='Item'}}'
        >
          <i class='fas fa-trash'></i>
        </a>
      </div>
    </li>
  {{/each}}
</ol>