<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns.  --}}
      <div class="resources grid grid-3col">

        {{!-- "flex-group-center" is also defined in the _grid.scss file
        and it will add a small amount of padding, a border, and will
        center all of its child elements content and text. --}}
        <div class="resource flex-group-center">
          <label for="system.attributes.level.value" class="resource-label">{{localize "orbital.actor.dna"}} </label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="number" name="system.dna" value="{{system.dna}}" data-dtype="Number"/>
            <span>/</span>
            <span>{{system.total_dna}}</span>
          </div>
        </div>
        <div class="resource flex-group-center">
          <label for="system.attributes.level.value" class="resource-label">{{localize "orbital.actor.skill_points"}} </label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="number" name="system.skillPoints" value="{{system.skillPoints}}" data-dtype="Number"/>
            <span>/</span>
            <span>{{system.total_sp}}</span>
          </div>
        </div>
        <div class="resource flex-group-center">
          <label for="system.attributes.level.value" class="resource-label">{{localize "orbital.actor.clones"}} </label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="number" name="system.clones" value="{{system.clones}}" data-dtype="Number"/>
          </div>
        </div>
        
        {{#each actor.system.resources as |resb key|}}
        <div class="resource flex-group-center">
          <label for="system.resources.{{key}}.value" class="resource-label">{{localize (concat "orbital.actor." key) }}</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.resources.{{key}}.value" value="{{resb.value}}" data-dtype="Number"/>
          <span> / </span>
          <span>{{resb.max}}</span>
          </div>
        </div>
        {{/each}}

        

      </div>
      <div class="tooltip-provider">
        &#x1FA78;ATK {{combat.ATK}}
        &#x26A1;BET {{combat.BET}}
        {{showDice combat.wurfel}}
      </div>
      <div>
        DEF: 🛡️{{armor.shield_phys}} / &#x1F9E0;{{armor.shield_mind}}
        Chances: 
        <span class="tooltip-provider">⚔️{{showDice armor.chances.close.wurfel}}</span>
        <span class="tooltip-provider">&#x1F3F9;{{showDice armor.chances.ranged.wurfel}}</span>
        <span class="tooltip-provider">&#x2728;{{showDice armor.chances.magic.wurfel}}</span>
      </div>
      <a class='actor-attack'>{{localize "orbital.actor.attack.attack"}} ⚔️</a>
      
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <!--<a class="item" data-tab="features">Features</a>-->
    <a class="item" data-tab="description">{{localize "orbital.actor.description"}}</a>
    <a class="item" data-tab="attributes">{{localize "orbital.actor.attributes"}}</a>
    <a class="item" data-tab="skills">{{localize "orbital.actor.skills"}}</a>
    <a class="item" data-tab="equipment">{{localize "orbital.actor.equipment"}}</a>
    <a class="item" data-tab="items">{{localize "orbital.actor.items"}}</a>
    <a class="item" data-tab="spells">{{localize "orbital.actor.spells"}}</a>
    <a class="item" data-tab="effects">{{localize "orbital.actor.effects"}}</a>

  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{> "systems/orbital/templates/actor/parts/actor-description.hbs"}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="attributes">
      {{> "systems/orbital/templates/actor/parts/actor-attributes.hbs"}}
    </div>

    {{!-- Skills Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="skills">
      {{> "systems/orbital/templates/actor/parts/actor-skills.hbs"}}
    </div>

    {{!-- Armor & Weapons Tab --}}
    <div class="tab equipment" data-group="primary" data-tab="equipment">
       {{> "systems/orbital/templates/actor/parts/actor-equipment.hbs"}}
    </div>
    
    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
       {{> "systems/orbital/templates/actor/parts/actor-items.hbs"}}
    </div>

    {{!-- Owned Spells Tab --}}
    <div class="tab spells" data-group="primary" data-tab="spells">
      {{> "systems/orbital/templates/actor/parts/actor-spells.hbs"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/orbital/templates/actor/parts/actor-effects.hbs"}}
    </div>



  </section>
</form>

{{log system}}

