<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		<img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
		<div class="header-fields">
			<h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
			<div class="grid grid-2col">
				<div class="resource">
					<label class="resource-label">Quantity</label>
					<input type="text" name="system.quantity" value="{{system.quantity}}" data-dtype="Number" />
				</div>
				<div class="resource">
					<label class="resource-label">Weight</label>
					<input type="text" name="system.weight" value="{{system.weight}}" data-dtype="Number" />
				</div>
			</div>
		</div>
	</header>

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="description">Description</a>
		<a class="item" data-tab="attributes">Attributes</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">

		{{!-- Description Tab --}}
		<div class="tab" data-group="primary" data-tab="description">
			{{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the
			rollData prop. --}}
			{{editor system.description target="system.description" rollData=rollData button=true owner=owner
			editable=editable}}
		</div>

		{{!-- Attributes Tab --}}
		<div class="tab attributes" data-group="primary" data-tab="attributes">
			{{!-- As you add new fields, add them in here! --}}
			{{!--<div class="resource">
				<label class="resource-label">Roll Formula:</label>
				<span>{{system.formula}}</span>
				<div class="grid grid-4col">
					<div class="grid-span-1">
						<label class="resource-label">Number of Dice</label>
						<input type="text" name="system.roll.diceNum" value="{{system.roll.diceNum}}" data-dtype="Number" />
					</div>
					<div class="grid-span-1">
						<label class="resource-label">Die Size</label>
						<input type="text" name="system.roll.diceSize" value="{{system.roll.diceSize}}" data-dtype="String" />
					</div>
					<div class="grid-span-2">
						<label class="resource-label">Roll Modifier</label>
						<input type="text" name="system.roll.diceBonus" value="{{system.roll.diceBonus}}" data-dtype="String" />
					</div>
				</div>

			</div>--}}

			<div class="resource">
				<label class="resource-label">Stats:</label>
				<div class="grid grid-2col">

					<label class="resource-label grid-span-1" >{{localize "orbital.weapon.is_deadly.name"}}</label>
					<select class="grid-span-1" name="system.is_deadly" data-dtype="String">
					{{selectOptions is_deadly_list selected=system.is_deadly localize=true}}
					</select>

					<label class="resource-label grid-span-1" >{{localize "orbital.weapon.attribute"}}</label>
					<select class="grid-span-1" name="system.attribute" data-dtype="String">
					{{selectOptions attribute_list selected=system.attribute localize=true}}
					</select>

					<label class="resource-label grid-span-1" >{{localize "orbital.weapon.stufe"}}</label>
					<input class="grid-span-1" type="number" min="0" name="system.stufe" value="{{system.stufe}}" data-dtype="Number" />
					
					<label class="resource-label grid-span-1" >{{localize "orbital.weapon.damage_lethal"}}</label>
					<span  class="grid-span-1">{{system.damage_lethal}}</span>

					<label class="resource-label grid-span-1" >{{localize "orbital.weapon.damage_stun"}}</label>
					<span  class="grid-span-1">{{system.damage_stun}}</span>

				</div>
				<hr/>

				<div class="grid grid-2col">
					<div class="grid-span-1">
						<label class="resource-label">Bonus Attribute</label>
						<select name="system.bonus_attribute" data-dtype="String">
						{{selectOptions attribute_list selected=system.bonus_attribute localize=true}}
						</select>
					</div>
					<div class="grid-span-1">
						<label class="resource-label">Wert</label>
						<input type="number" min="{{system.bonus.min}}" max="{{system.bonus.max}}" name="system.bonus.value" value="{{system.bonus.value}}" data-dtype="Number" />
					</div>
				</div>
				
				
			</div>
		</div>
	</section>
</form>

{{log system}}