<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
    <br />
    <a
        class='item-control spell-roll'
        title='{{localize "DOCUMENT.Roll" type='Spell'}}'
        data-type='spell'
      >
      {{localize "DOCUMENT.Roll" type='Spell'}} &#x1F3B2;
    </a>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    {{#if (booleanFix system.has_effect)}}<a class="item" data-tab="effects">Effects</a>{{/if}}
    {{#if (booleanFix system.has_effect)}}<a class="item" data-tab="effects2">Effects 2</a>{{/if}}
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">

      <div class="resource">
        <div class="resource-content flexrow flex-center flex-between">
          <label class="resource-label">{{localize "orbital.spell.type"}}</label>
          <select  name="system.attribute" data-dtype="Text">
            {{selectOptions spell_types selected=system.attribute localize=true}}
          </select>
        </div>
        <div class="resource-content flexrow flex-center flex-between">
          <label class="resource-label">{{localize "orbital.spell.level"}}</label>
          <input type="text" name="system.level.value" value="{{system.level.value}}" data-dtype="Number"/>
        </div>
        <div class="resource-content flexrow flex-center flex-between">
          <label class="resource-label">{{localize "orbital.spell.power"}}</label>
          <input type="text" name="system.power.value" value="{{system.power.value}}" data-dtype="Number"/>
        </div>
      </div>
      <hr />
          <label class="resource-label grid-span-1" >{{localize "orbital.effect.has_effect.name"}}</label>
					<select class="grid-span-1" name="system.has_effect" data-dtype="String">
					{{selectOptions has_effect_list selected=system.has_effect localize=true}}
					</select>
      <hr />
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
   
    </div>
    {{#if (booleanFix system.has_effect)}}
    <div class="tab effects" data-group="primary" data-tab="effects">
      {{> "systems/orbital/templates/item/parts/item-effects.hbs" effectGroups=effects}}
    </div>
    <div class="tab effects" data-group="primary" data-tab="effects2">
      {{> "systems/orbital/templates/item/parts/item-effects.hbs" effectGroups=effects2}}
    </div>
    {{/if}}
  </section>
</form>
